<h1>Your assigned task is now assigned to another person</h1>

<p>Hi <%= @employee.name %>! You were assigned to a task: "<%= @task.name %>". But now, your task would be assigned another person. Keep up the good work!</p>
<strong>Thank you!</strong>
<p><b>Description: </b><%= @task.description %></p>