<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Ez-Employee-Tracking", root_url(subdomain: false), class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Sign in", root_url(subdomain: false), class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to "Sign up", new_employee_registration_url(subdomain: false), class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>