<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center><h1>Ez Employee Tracking</h1></center><br>  
    <center>
      <b>Ez Employee Tracking system gives you a platform <br>for managing employee talent and maximising resources <br>throughout your business.</b><br><br>
      <%= link_to "Employees List", employees_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to "Location", '#', class: 'btn btn-primary btn-lg', id: 'location-button' %>

    </center>
  </div>
</div>
<div id="output"></div>

<script type="text/javascript">
	$('#location-button').click(function(){
        
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position){
        console.log(position);
        $.get( "http://maps.googleapis.com/maps/api/geocode/json?latlng="+ position.coords.latitude + "," + position.coords.longitude +"&sensor=false", function(data) {
          console.log(data);
        })
        var img = new Image();
        img.src = "https://maps.googleapis.com/maps/api/staticmap?center=" + position.coords.latitude + "," + position.coords.longitude + "&zoom=13&size=800x400&sensor=false";
        $('#output').html(img);
      });
        
    }
  });
</script>