<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center><h1>Ez Employee Tracking</h1></center><br>  
    <center>
      <b>Ez Employee Tracking system gives you a platform <br>for managing employee talent and maximising resources <br>throughout your business.</b><br><br>
      <%= link_to "Employees List", employees_path, class: 'btn btn-primary btn-lg' %>
    </center>
  </div>
</div>