<% if @companies.present? %>
  <br><br>
  <div class='div_email'>
    <div class='div_title'>
      <h4><i class="fas fa-user-ninja"></i> EZ Employee Tracking</h4>
      <hr>
    </div>
    <div class='container'>
      <div class='row'>
          <h4><span class="text-prim"><b>Sign in</b></span></h4><br>
      </div>
      <div class='row'>
        <p><small>Choose your organization</small></p>
      </div>
      <div class="overflow-auto">
        <% @companies.each do |company| %>
          <div class="card border-prim mb-1 text-transition card-custom max-width-50">
            <%= link_to 'http://' + company.subdomain + '.localhost:3000/employees/sign_in?email=' + @email , id: '_company-url', class: 'text-prim no-decoration' do %>
            <div class="card-body text-success">
              <h5 class="card-title">
                <span class="company-search-span"><i class="fas fa-city"></i></span> <%= company.name.downcase.titleize %><span class='float-right'><i class="fas fa-chevron-right"></i></span>
              </h5>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  <h3>No Company Exists</h3>
<% end %>
<br>