<% provide(:title, "Welcome "+ current_employee.name) %>

<div class="conatiner">
  <div class="row">
    <div class="col-sm">
      <% if admin? %>
        <div class="col-md-10">
          <center>
            <h1>Attendance Record</h1>
          </center>
        </div>
        <%= render 'attendances/attendance_table' %>
        <br><br>
        <div class="line"></div>
        <br><br>
      <% end %>
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <center>
              <h1>Employee Velocity Report</h1>
            </center>
          </div>
          <div class="col-md-2">
            <%= link_to  pdf_velocity_report_path(format: :pdf), class: 'btn btn-regular', target: :_blank do %>
              Export pdf
              <i class="fas fa-file-pdf ml-2"></i>
            <% end %>
          </div>
        </div>
        <div class="row">
          <%= render 'velocity_report' %>
        </div>
      </div>
    </div>
  </div>
</div>
