<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <!-- Alert bar -->
      <div class="alert alert-success alert-dismissable present" id="present_alert" style="display: none;">
         
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          ×
        </button>
        <h4>
          Success!
        </h4><br> <strong> <%= @employee.name%> </strong> your attendance has been marked.
      </div>

      <!-- Update logout alert -->
      <div class="alert alert-success alert-dismissable" id="update_attendance_alert" style="display: none;">
         
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          ×
        </button>
        <h4>
          Success!
        </h4><br> <strong> <%= @employee.name%> </strong> your logout time has been added.
      </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h3>Welcome <%= @employee.name%></h3>
    </div>

    <div class="col-sm">
      <% if admin? %>
        <%= render 'attendances/attendance_table' %>
      <% end %>
    </div>
  </div>
</div>