<% provide(:title, "Welcome "+ current_employee.name) %>

<div class="conatiner">
  <div class="row">
    <div class="col-sm">
      <% if admin? %>
        <%= render 'attendances/attendance_table' %>
      <% end %>
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1>Employee Velocity Report</h1>
          </div>
          <div class="col-md-2">
            <%= link_to 'Export pdf', pdf_velocity_report_path(format: :pdf), class: 'btn btn-regular' %>
          </div>
        </div>
        <div class="row">
          <%= render 'velocity_report' %>
        </div>
      </div>
      <br>
      <br>
      <!--
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1>Teams Velocity Report</h1>
          </div>
          <div class="col-md-2">
            <%= link_to 'Export pdf', pdf_velocity_report_path(format: :pdf), class: 'btn btn-regular' %>
          </div>
        </div>
        <div class="row">
          
        </div>
      </div>-->
    </div>
  </div>
</div>
