
<p>
  <strong>Task Title:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Task Start Date:</strong>
  <%= @task.start_date.to_date %>
</p>

<p>
  <strong>Task End Date:</strong>
  <%= @task.expected_end_date.to_date %>
</p>

<p>
  <strong>Task Description:</strong>
  <%= @task.description %>
</p>
