<% if obj.errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <div class="panel-heading">
      <h2 class="alert-heading"><%= pluralize(obj.errors.count, "error") %>
        prohibited this article from being saved:</h2>
      <div class="panel-body">
        <ul class="mb-0">
          <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>