<center>
    <div class="d-inline-block no-records">
     <img src="/assets/256.png" alt="Nothing found" width="260" class="no-records">
     <h3 class="page-title">Sorry we couldn't find any records.</h3>
     <p class="page-desc"> Maybe it is due to the unavailability of data.</p>
   </div>
 </center>