<% if !can? :create, Department%>
  <%= link_to "All Departments", departments_path, remote: true, class: "btn btn-secondary active"%>
  <%= link_to "My Departments", departments_path(show_employees_only: true), remote: true, class: "btn btn-secondary active" %>
<% end %>
<% if @departments.any? %>
  <div id="departments_grid" >
    <%= render partial: 'departmentgrid', locals: {departments: @departments}  %>
  </div>
<% end %>
<br>
<% if can? :create, Department %>
  <%= link_to 'New Department', new_department_path, class: "btn btn-regular" %>
<% end %>
