<p>
  <strong>Project Title:</strong>
  <%= @project.name.downcase.titleize %>
</p>
<%= link_to 'Edit', edit_member_path(@employee) %> |
<%= link_to 'Back', request.env["HTTP_REFERER"], class: "btn btn-secondary" %>
