@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.7rem;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none !important;
  transition: all 0.3s;
}

.navbar {
  padding: 5px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.small-gray {
  font-size: 80%;
  color: #858796 !important;
  display: inline !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.text-gray-400 {
  color: #d1d3e2 !important;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #eaecf4;
}

.small {
  font-size: 80%
}

.header_title {
	padding-top: 15px;
}

.nav-item .nav-link .img-profile {
  height: 2rem;
  width: 2rem;
}

.rounded-circle {
  border-radius: 50% !important;
}

.topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}

.shadow {
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.dropdown .dropdown-menu {
  font-size: 0.85rem;
}

.dropdown .dropdown-menu .dropdown-header {
  font-weight: 800;
  font-size: 0.65rem;
  color: #563d7c;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.animated--grow-in, .sidebar .nav-item .collapse {
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
  animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.my-0 {
  margin-top: 0 !important;
}

i,
span {
  display: inline-block;
}

.btn-purple {
  background-color: #563d7c !important;
  border-color: #563d7c !important;
  color: #fff;
}

.btn-regular {
  background-color: #9a6dde !important;
  border-color: #9a6dde !important;
  color: #fff;
}

.btn-regular:hover {
  background-color: #563d7c !important;
  border-color: #563d7c !important;
  color: #fff;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  height: 100vh;
  z-index: 999;
  background: #563d7c;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar .sidebar-header strong {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
  font-size: 1.5rem;
}

#sidebar .sidebar-header h3 {
  color: #fff !important;
}

#sidebar.active .sidebar-header h3 {
  display: none;
}

#sidebar ul li a {
  text-align: left;
  color: #fff;
}

#sidebar.active ul li a {
  padding: 10px 10px;
  text-align: center;
  font-size: 0.65rem;
  color: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.3rem;
  margin-bottom: 2px;
  color: inherit;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.98rem;
  display: block;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6f4da3;
}

#sidebar .sidebar-header i {
  display: none;
}

#sidebar.active .sidebar-header i {
  display: block;
  font-size: 1.5rem;
}

#sidebar.active ul li a span.sidebar-option {
  display: none;
}

#sidebar.active ul li a {
  margin-left: 15px;
  padding-right: 10px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #ae97d1;
}

#sidebar ul li a:hover {
  color: #563d7c;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6f4da3;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul ul a {
  padding-left: 20px !important;
  background: #6f4da3;
  font-size: 0.7rem;
  color: #fff;
}

#sidebar.active ul ul a {
  font-size: 0.55rem !important;
}

#content {
  width: calc(100% - 180px);
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
    width: calc(100% - 80px);
}

#content h1, h2, h3 {
  color: #563d7c;
}

#content p {
  color: #6f4da3;
}

#_navbar {
  margin-left: 180px;
}

#_navbar.active {
  margin-left: 80px;
}

.yielded-area {
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
}

.bg-login-image {
  background: url("https://www.boomr.com/assets/homepage/header/hp-hero-f7001bc5c5fcf304b22d6f0684dc12c76dfc245a4c507a4282fa39cff834718b.svg");
  background-position: center;
  background-size: cover;
}

.bg-gradient-primary {
  background-color: #563d7c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #563d7c), to(#8b52e3));
  background-image: linear-gradient(180deg, #563d7c 10%, #a165fc 100%);
  background-size: cover;
}

.icon-circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mr-3 {
  margin-right: 3px;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.text-white {
  color: #fff !important;
}

.bg-purple {
  background-color: #6f4da3 !important; 
}

.mark_present, .update_attendance {
  margin-top: 10px;
  margin-right: 10px;
}


@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: 0px !important;
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: -80 !important;
    text-align: center;
  }
  #sidebar .sidebar-header h3 {
    display: none;
  }
  #sidebar .sidebar-header strong {
    display: block;
    font-size: 1.5rem;
  }
  #sidebar .sidebar-header i {
    display: block;
    font-size: 1.5rem;
  }
  #sidebar ul li a span.sidebar-option {
    display: none;
  }

  #sidebar ul li a {
    padding: 10px 10px;
    font-size: 0.65rem;
    text-align: center;
    margin-left: 15px;
    padding-right: 10px;
  }
  #sidebar ul li a span {
    font-size: 0.5rem;
    text-align: center;
    font-size: 0.65rem;
    color: #fff;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.3rem;
    margin-bottom: 2px;
    color: inherit;
    text-align: center;
  }
  #sidebar ul ul a {
    font-size: 0.55rem !important;
    text-align: center;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  #content {
    width: calc(100% - 80px);
  }
  #content.active {
    width: calc(100% - 180px);
  }
  #_navbar {
    margin-left: 80px;
  }
}

.alert-notice {
  padding: 20px;
  background-color: #4CAF50;
  color: white;
}
.company-body {
  max-height: 305px;
  overflow-y: auto;
  background-color: #e0dad9
}
.subdomain-color{
  color: #4CAF50;
}
.text-transition:hover {
  background-color: #4CAF50;
  transition: 1s;
}

.text-transition:hover .subdomain-color{
  text-decoration: none;
  color:#FFF;
}

.text-transition:hover .card-title{
  text-decoration: none;
  color:#FFF;
}