.team-pic{
  width: 50%;
  height: 50%;
}

.btn-edit {
  background-color: #9a6dde !important;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #563d7c !important
  }
}