<h1>Ez-Employee-Tracking</h1>

<p>Welcome <%= @email %>!</p>
<% if @resource.department.present? %>
  <p>Your default password is <b><%= @resource.password %></b></p>
<% end %>

<p>Click the link below to activate your account:</p>
<% url = 'http://' + @resource.company.subdomain + '.localhost:3000/employees/confirmation?confirmation_token='+@token %>

<p><%= link_to 'Confirm my account', url %></p>
