<% content_for :bread_crumbs do %>
  <div class="row d-flex p-1">
      <p class="m-0 align-middle"> Company Attendance</p>
  </div>
<% end %>
<div class="conatiner">
  <div class="row d-flex">
    <div class="col-2">
      <div class="align-content-right ml-3">
        <%= link_to show_employee_attendance_path(@current_employee), class: 'btn btn-regular' do %>
          My Attendance
          <i class="fas fa-journal-whills"></i>
        <% end %>
      </div>
    </div>
    <div class="col-10"></div>
  </div>
  <div class="row d-flex mt-2">
    <div class="col-12">
      <% if admin? %>
        <%= render 'attendances/attendance_table' %>
      <% end %>
    </div>
  </div>
</div>
