<h1>Admin Panel - Attendance and Calendar</h1>

<div class="container-fluid" style="margin-top: 60px">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
           <a class="nav-link btn btn-regular btn-success" id="attendance_id">Attendance </a>
        </li>
      </ul>

      <div class="row" id="admin_attendance" style="margin-top: 20px">
        <%= render 'attendances/attendance_table' %>
      </div>

      <div class="row" id="admin_calendar" style="margin-top: 20px; display: none">
        <div class="col-md-12" style="margin-top: 20px;">
        </div>
      </div>
    </div>
  </div>
</div>
