<% content_for :bread_crumbs do %>
  <div class="row d-flex p-1">
      <p class="m-0 align-middle">My Attendance Details</p>
  </div>
<% end %>
<div class="container" style="height: 100%;display: table;text-align: center;vertical-align: middle;">
  <% if @attendances.any? %>

  <div class="row">
    <div class="col-lg">
      <%= render 'attendances/attendance_table' %>
    </div>
  </div>
  <% else %>
    <%= render '/shared/no_records' %>
  <% end %>
</div>