<div class="container">
  <center>
    <h1>Employee Velocity Report</h1>
    <p>Printed by Employee: <%= current_employee.name %></p>
  </center>
</div>
<br>
<div class="container">
  <%= render 'velocity_report' %> 
</div>
