<% content_for :head do %>
  <%= javascript_include_tag 'sidebar' %>
<% end %>

<nav id="sidebar">

	<div class="sidebar-header">
		<h3>EZ Employee</h3>
		<STRONG>EZ ET</STRONG>
	</div>

	<ul class="list-unstyled components">
		<li class="active">
			<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
				<i class="fas fa-home"></i>
				Home
			</a>
			<ul class="collapse list-unstyled" id=
			"homeSubmenu">
				<li>
					<a href="#">Dashboard</a>
				</li>
				<li>
					<a href="#">Employees list</a>
				</li>
				<li>
					<a href="#">Departments</a>
				</li>
			</ul>
		</li>

		<li>
			<a href="#secondSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
				<i class="fas fa-user-friends"></i>
				Teams
			</a>
			<ul class="collapse list-unstyled" id=
			"secondSubmenu">
				<li>
					<a href="#">Departments</a>
				</li>
				<li>
					<a href="#">Team Laeds</a>
				</li>
				<li>
					<a href="#">Events</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">
				<i class="fas fa-briefcase"></i>
				About
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fas fa-phone"></i>
				Contact
			</a>
		</li>

	</ul>

</nav>